[package]
name = "proton-crypto"
version = "0.7.0"
edition.workspace = true
license = "MIT"
license-file = "LICENSE"
authors.workspace = true

[dependencies]
gopenpgp-sys = { workspace = true, optional = true }
proton-rpgp = { workspace = true, optional = true }
proton-srp = { workspace = true, default-features = false, registry = "proton" }
thiserror = { workspace = true }
serde = { version="1", features = ["derive"]}
hex = { workspace = true }
parking_lot = "0.12"
subtle = "2.5.0"
rand = { workspace = true }
web-time = { workspace = true }
facet = { workspace = true, optional = true}

[dev-dependencies]
smol = "2.0.0"

[features]
default = ["rustpgp"]
rustpgp = ["dep:proton-rpgp"]
gopgp = ["dep:gopenpgp-sys"]
rustpgp_wasm = ["rustpgp", "proton-rpgp/wasm"]
rustpgp_asm = ["rustpgp", "proton-rpgp/asm"]
facet = ["dep:facet"]

[lints]
workspace = true
